@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	margin-bottom: 1600px
	background-color: #f3f1e9

h1
	font-family: "PlayfairDisplay-Bold", serif
	font-size: 92px

h2, h3, h4, h5, h6
	font-family: Alegreya, serif

h2
	font-size: 48px
	color: $headers

h3
	font-size: 30px
	color: $accent

h4
	font-size: 24px

h5
	font-size: 18px

h6
	font-size: 14px


.img-responsive
	display: block
	max-width: 100%
	height: auto

.fl
	float: left

.fr
	float: right

.first-screen
	background-image: url("../img/first-screen.jpg")
	background-position: top center
	min-height: 100vh
	background-repeat: no-repeat
	position: relative
	&::before
		content: ''
		width: 108px
		height: 108px
		position: absolute
		bottom: -54px
		left: 50%
		margin-left: -54px
		background-image: url('../img/sprite.png')
		background-position: -4px -69px

.logo
	font-family: Scriptina, sans-serif
	font-size: 30px
	color: #fff
	letter-spacing: 3px

.top-nav
	ul
		list-style-type: none
		padding: 0
		margin: 0
		letter-spacing: 3px
		text-transform: uppercase
		line-height: 70px
		text-align: center
	li
		display: inline-block
		padding-right: 40px
		padding-left: 40px
		position: relative
		&::before
			content: '~'
			position: absolute
			right: -10px
			top: 4px
			color: #fff
		&:last-child
			&::before
				content: ''

	a
		font-family: Alegreya, sans-serif
		color: #fff
		font-size: 14px
		

.top-row
	background-color: #56534c
	opacity: .5
	width: 100%
	height: 70px

.soc-icons
	line-height: 70px
	text-align: right
	.soc-icon
		color: #efebe4
		margin-right: 25px

.fs-text
	text-align: center
	text-shadow: 0 1px rgba(0,0,0,.75)


.fs-header
	font-family: PlayfairDisplay-Bold, serif
	font-size: 92px
	letter-spacing: 8px
	color: #fff
	font-weight: 300
	margin: 1.67em 0
	position: relative
	margin-bottom: 1em
	&::before
		content: ''
		width: 195px
		height: 20px
		background: url(../img/sprite.png)
		position: absolute
		top: 182px
		left: 50%
		margin-left: -97px

.fs-descr
	font-family: "ProximaNova-Regular", serif
	font-size: 24px
	color: #fff
	letter-spacing: 2px
	max-width: 550px
	margin: 0 auto 70px

.button
	padding: 12px 50px
	text-transform: uppercase
	font-family: Alegreya, serif
	font-weight: bold
	font-size: 14px
	letter-spacing: 2px
	border: 1px dashed #9e9c93
	color: #fff

.fs-button
	background: rgba(86,83,76,.53)
	margin-bottom: 214px

.second-sec
	background-color: #fefefd
	
.second-sec-cont1
	text-align: center
	padding-left: 65px
	padding-right: 65px

.sec-header
	margin-bottom: 0
	margin-top: 100px
	line-height: 1.1em

.sec-descr
	font-family: Alegreya, serif
	font-weight: bold
	color: $accent
	text-transform: uppercase
	margin-top: 0
	margin-bottom: 55px

.sec-text
	margin-bottom: 50px

.sec-header-h3
	color: $headers
	font-size: 24px
	margin-bottom: 40px

.h3-like
	font-family: Alegreya, serif
	font-size: 24px
	color: $headers
	display: inline-block
	width: 111px
	padding: 21px 14px 14px 14px
	border-top: 1px solid #d7d5ca
	border-bottom: 1px solid #d7d5ca


.chef-photo
	border-radius: 50%
	max-width: 100px
	height: auto
	margin: 0 24px

.quote
	font-family: Scriptina, serif
	font-size: 24px
	color: $accent
	margin: 55px auto
	max-width: 240px
	position: relative
	&::before, &::after
		position: absolute
		content: ''
		display: inline-block
		width: 23px
		height: 14px
		background-image: url("../img/sprite.png")
	&::before
		top: -12px
		left: -70px
		background-position: -12px -215px
	&::after
		bottom: -12px
		right: -70px
		background-position: -12px -247px

.second-sec-cont2
	margin-top: 120px
	margin-bottom: 100px

.second-sec-img
	max-width: 100%
	height: auto
	margin-bottom: 20px

.ss-img-wrap
	width: 49%
	display: inline-block
	position: relative
	&:nth-child(odd)
		margin-right: 1%
	&::before
		content: ''
		position: absolute
		display: block
		width: 90%
		height: 86%
		top: 0
		left: 0
		margin: 3%
		border: 5px solid #fff

.ss-img-container
	position: relative

.ss-imgs-header
	position: absolute
	display: table
	width: 252px
	height: 252px
	top: 50%
	left: 50%
	margin-left: -126px
	margin-top: -126px
	background: url('../img/sprite.png') -160px -45px no-repeat

.ss-h3-like
	display: table-cell
	vertical-align: middle
	color: $accent
	font-size: 30px
	border: none
	text-transform: uppercase
	text-align: center
	line-height: 1.1em


.pancakes
	background: url('../img/pancakes.jpg') top center no-repeat
	background-size: cover
	height: 760px

.cakes-card
	position: relative
	margin-top: 140px
	width: 100%
	height: 510px
	background-color: #fff
	&::before
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 0
		height: 0
		border: 25px solid #f5f5f5
		border-left-color: transparent
		border-bottom-color: transparent
		box-shadow: 11px -6px 13px rgba(0,0,0,.3)

.cakes-img-wrap
	height: 100%
	width: 41.44%
	position: relative
	overflow: hidden

.cakes-img
	height: 100%
	width: auto

.cakes-text
	background: url('../img/sprite.png') -447px 208px no-repeat
	height: 100%
	width: 58.56%
	padding: 60px 60px 0
	h2, h3
		margin: 0
	h3
		font-size: 14px
		text-transform: uppercase
		letter-spacing: 2px
	p
		margin: 60px 0 90px
		color: $headers

.cakes-carousel
	list-style-type: none
	margin: 0
	padding: 0 45px 0 45px
	position: relative
	li
		max-width: 90px
	img
		border-radius: 50%
	.fa
		color: $headers
		&:hover
			color: $accent
			border-color: $accent
	.owl-next
		position: absolute
		top: 30px
		right: 0
		.fa-border
			padding: .3em .3em .2em .4em
	.owl-prev
		position: absolute
		top: 30px
		left: 0px
		.fa-border
			padding: .3em .4em .2em .3em
	.fa-border 
		border: .15em solid $headers
		border-radius: 50%

.av-time
	background: url('../img/sprite.png') 98% 46% no-repeat
	position: absolute
	top: -40px
	right: -95px
	width: 200px
	height: 200px
	padding: 20px 0
	text-align: center
	background-color: #FFF
	font-family: Alegreya, serif
	box-shadow: 0px 25px 54px 0px rgba(105,80,58,.45)
	h3
		text-transform: uppercase
		font-size: 18px
		color: #a47d5e
	p
		font-size: 92px
		color: #dfc691
		margin: 0
		line-height: 1em
	span
		margin-top: -30px
		font-size: 18px
		font-weight: bold
		color: #979285
		display: block

.breakfast
	background: url('../img/breakfast.jpg') top center no-repeat
	background-size: cover
	height: 760px
	padding: 100px 0

.breakfast-menu
	text-align: center
	h2
		color: #fff
		font-size: 60px
		font-weight: bold
		margin: 0
		line-height: 1em
	h3
		color: #c8a593
		font-size: 18px
		font-weight: bold
		line-height: 1em
		margin: 0
		text-transform: uppercase

.br-menu-items
	list-style-type: none
	margin: 0
	padding: 0
	h4
		color: #fff
		font-size: 30px
		font-weight: bold
		margin-bottom: 0
		margin-top: 30px
	p
		font-size: 16px
		color: $minor
		margin: 0
	span
		font-family: Alegreya, serif
		font-size: 36px
		color: #dfc691
	li
		position: relative
		&::before
			content: ''
			position: absolute
			width: 94px
			height: 28px
			background: url('../img/sprite.png') -19px -323px no-repeat
			bottom: -32px
			left: 50%
			margin-left: -47px
		&:last-child
			&::before
				display: none

.br-cards-wrap
	padding: 10px
	width: 440px
	height: 600px
	background: url('../img/sprite.png') -532px -607px no-repeat
	background-color: #f3f1e9
	position: relative
	&::before
		content: ''
		background: url('../img/sprite.png') 0px -480px no-repeat
		position: absolute
		top: 25px
		right: -25px
		width: 25px
		height: 548px

.br-cards
	border: 1px dashed #9e9c93
	width: 100%
	height: 100%
	position: relative
	text-align: center
	padding: 0 20px
	&::before
		background: url('../img/sprite.png') 1px -380px no-repeat
		content: ''
		position: absolute
		top: 66px
		left: 50%
		margin-left: -185px
		width: 370px
		height: 60px
	span
		color: $headers
		display: inline-block
		font-family: Alegreya, serif
		font-weight: bold
		margin-top: 40px
		text-align: center
		text-transform: uppercase
		width: 50%
		float: left
	h2
		font-family: Alegreya, serif
		font-size: 44px
		margin-top: 190px
		line-height: 1.3em
	p
		margin-bottom: 60px

.button-ghost
	color: #a47d5e
	border: 1px solid #9e9c93
	font-size: 18px
	font-weight: bold
	padding: 12px 70px
	transition: all .2s
	&:hover
		text-decoration: none
		color: #fff
		background-color: $accent
		transition: all .2s


.sandwich
	background-color: #f3f1e9
	padding: 0

.sand-title
	background: url('../img/sprite.png') -55px -1060px no-repeat
	display: block
	width: 707px
	height: 142px
	margin: 0 auto
	text-align: center
	h2, h3
		line-height: 1
		margin: 0
	h2
		display: block
		padding-top: 94px
	h3
		font-family: Alegreya
		font-size: 14px
		font-weight: bold
		text-transform: uppercase

.sand-item
	display: block
	width: 100%
	text-align: center
	margin-bottom: 60px
	img
		border-radius: 50%
		width: 100px
		box-shadow: 0 5px 5px 0 rgba(0,0,0,.3)
	h4
		color: #a47d5e
		font-family: Alegreya
		font-weight: bold
		font-size: 30px
		line-height: 1
	img, h4, p
		margin: 0 0 20px

.sand-recipe-wrap
	margin-top: 90px
	position: relative

.sand-img
	border: 10px solid #fff
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.53)

.recipe-prop
	right: 10px
	box-shadow: none
	p
		margin: -30px 0 0

.rp-1, .rp-2
	background-image: none
	background-color: rgba(255,255,255,.8)
	p
		color: $headers
		font-size: 60px
		line-height: 1.5
	span
		margin: -20px


.rp-1
	top: -25px

.rp-2
	top: 176px

.rp-3
	top: 376px
	background-position: 95% 37%
	box-shadow: -10px 10px 10px -10px rgba(0,0,0,0.5)
	p
		font-weight: bold

.recipe-button
	color: $accent
	background-color: #fff
	font-size: 18px
	padding: 17px 20px
	position: absolute
	bottom: -18px
	left: -18px
	transition: all .2s
	border-color: $accent
	&:hover
		color: #fff
		text-decoration: none
		background-color: $accent
		transition: all .2s

.main-footer
	padding: 60px 0

.footer-nav
	color: $headers
	a
		color: $headers
	li
		border-top: 1px solid #c2beba
		border-bottom: 1px solid #c2beba
		&:last-child
			&::before
				content: '~'
		&:nth-child(3), &:nth-child(4)
			&::before
				display: none
		float: left
		&:nth-child(4), &:nth-child(5), &:nth-child(6)
			float: right

.footer-logo
	color: $headers
	display: block
	text-align: center
	width: 105px
	margin: 5px auto






@import "media" // Всегда в конце